/* Reset geral da página */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}
/* Corpo principal */
body{
    background-color: #F5F6F8;
}
/* Remover o highlith azul dos itens */
html{
    -webkit-tap-highlight-color: transparent;
}
/* Cabeçalho */
#cabecalho{
    background-color: white;
    padding: 20px;
    transition: .3s;
}
#cabecalho .container-header{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cabecalho .container-header h1 a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    transition: .3s;
    margin-bottom: 5px;
}
#cabecalho .container-header h1 a:hover{
    transition: .3s;
    color: red;
}
#cabecalho .container-header .subtitulo{
    font-family: sans-serif;
    font-size: 1.5rem;
    opacity: 90%;
    margin-bottom: 20px;
}
/* Menu Desktop */
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu li a{
    padding: 7px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    transition: .3s;
    border: 1px solid #DDD;
}
#menu li a:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}
/* Menu mobile*/
#btn-mobile{
    display: none;
}
/* Linha horizontal */
hr{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 30px;
}
/* Calcular Imc */
#calcular-imc{
    transition: .3s;
    padding-top: 50px;
    padding-bottom: 80px;
}
#calcular-imc .container-calcularimc{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
#calcular-imc .container-calcularimc .container-conteudo{
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    padding: 30px 30px;
    border-radius: 5px;
}
#calcular-imc .container-calcularimc .container-conteudo h1{
    font-family: sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
}
#calcular-imc .container-calcularimc .container-conteudo p{
    font-family: sans-serif;
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 20px;
}
#calcular-imc .container-calcularimc .container-conteudo p span{
    font-weight: bold;
}
#calcular-imc .container-calcularimc .container-conteudo p a{
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}
/* Rodapé */
#rodape{
    transition: .3s;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px black;
}
#rodape .container-rodape{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#rodape .container-rodape p{
    font-size: 1.1rem;
    font-family: sans-serif;
    margin-bottom: 5px;
}
#rodape .container-rodape p a{
    text-decoration: none;
    color: red;
    transition: .3s;
    font-weight: bold;
}
#rodape .container-rodape p a:hover{
    color: black;
}
#rodape .container-rodape span a{
    color: red;
    text-decoration: none;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    transition: .3s;
}
#rodape .container-rodape span a:hover{
    color: black;
}
#rodape .container-rodape .instagram a{
    color: black;
}
#rodape .container-rodape .instagram a i{
    font-size: 1.4rem;
    transition: .3s;
}
#rodape .container-rodape .instagram a i:hover{
    transform: rotate(360deg);
    color: red;
}

/* Responsividade - Tablet */
@media(max-width:780px){
    /* Cabeçalho */
    #cabecalho{
        padding: 10px;
    }
    #cabecalho .container-header h1{
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    #cabecalho .container-header .subtitulo{
        width: 90%;
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    /* Menu Mobile */
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 155px;
        right: 0px;
        background: white;
        height: 0;
        transition: .6s;
        z-index: 1000;
        text-align: center;
        visibility: hidden;
        overflow-y: hidden;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #nav.active #menu{
        height: calc(100vh - 155px);
        visibility: visible;
        /*overflow-y: auto;*/
    }
    #menu li{
        margin-bottom: 30px;
        padding: 10px;
    }
    #menu li a{
        font-size: 1.3rem;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        display: block;
        width: 20px;
        border-top: 2px solid;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    /* Linha horizontal */
    hr{
        margin-bottom: 0px;
    }
    /* Calcular Imc */
    #calcular-imc{
        padding-bottom: 50px;
    }
    #calcular-imc .container-calcularimc{
        width: 95%;
    }
    #calcular-imc .container-calcularimc .container-conteudo{
        padding: 20px 30px;
    }
    #calcular-imc .container-calcularimc .container-conteudo h1{
        font-size: 1.8rem;
    }
    #calcular-imc .container-calcularimc .container-conteudo p{
        font-size: 1.2rem;
    }
    /* Rodapé */
    #rodape .container-rodape{
        width: 95%;
    }
    #rodape .container-rodape p{
        font-size: 1.1rem;
    }
    #rodape .container-rodape span a{
        font-size: 1.1rem;
    }
    #rodape .container-rodape .instagram a i{
        font-size: 1.1rem;
    }
    
    /* Responsividade - 450px */
    @media(max-width:450px){
        #cabecalho .container-header h1{
            margin-bottom: 5px;
        }
        #cabecalho .container-header h1 a{
            font-size: 1.8rem;
        }
        #cabecalho .container-header .subtitulo{
            font-size: 1.2rem;
        }
        /* Menu Mobile */
        #menu{
            top: 143px;
        }
        #nav.active #menu{
            height: calc(100vh - 143px);
        }
        #menu li{
            margin-bottom: 20px;
        }
        /* Calcular Imc */
        #calcular-imc .container-calcularimc .container-conteudo h1{
            font-size: 1.6rem;
        }
        #calcular-imc .container-calcularimc .container-conteudo p{
            font-size: 1.1rem;
        }
        /* Rodape */
        #rodape{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #rodape .container-rodape p{
            font-size: 1rem;
        }
        #rodape .container-rodape span a{
            font-size: 1rem;
        }
        #rodape .container-rodape .instagram a i{
            font-size: 1rem;
        }

        /* Responsividade - 375px */
        @media(max-width:375px){
            #cabecalho .container-header h1 a{
                font-size: 1.7rem;
            }
            #cabecalho .container-header .subtitulo{
                font-size: 1rem;
            }
            /* Menu Mobile */
            #menu{
                top: 135px;
            }
            #nav.active #menu{
                height: calc(100vh - 135px);
            }
            #menu li a{
                font-size: 1.2rem;
            }
             /* Calcular Imc */
            #calcular-imc .container-calcularimc .container-conteudo h1{
                font-size: 1.5rem;
            }
            #calcular-imc .container-calcularimc .container-conteudo p{
                font-size: 1rem;
            }
            /* Rodape */
            #rodape .container-rodape p{
                font-size: 0.9rem;
            }
            #rodape .container-rodape span a{
                font-size: 0.9rem;
            }
            #rodape .container-rodape .instagram a i{
                font-size: 0.9rem;
            }

            /* Responsividade - 320px */
            @media(max-width:320px){
                #cabecalho .container-header h1 a{
                    font-size: 1.5rem;
                }
                #cabecalho .container-header .subtitulo{
                    font-size: 0.9rem;
                }
                /* Menu Mobile */
                #menu{
                    top: 131px;
                }
                #nav.active #menu{
                    height: calc(100vh - 131px);
                }
                #menu li a{
                    font-size: 1.1rem;
                }
                 /* Calcular Imc */
                #calcular-imc .container-calcularimc .container-conteudo h1{
                    font-size: 1.3rem;
                }
                #calcular-imc .container-calcularimc .container-conteudo p{
                    font-size: 0.9rem;
                }
                /* Rodape */
                #rodape .container-rodape p{
                    font-size: 0.8rem;
                }
                #rodape .container-rodape span a{
                    font-size: 0.8rem;
                }
                #rodape .container-rodape .instagram a i{
                    font-size: 0.8rem;
                }
            }
        }
    }
}




