/* Reset geral da página */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}  
body{
    background-color: #F5F6F8;
}
html{
    -webkit-tap-highlight-color: transparent;
}
/* header */
#header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 20px;
    z-index: 10000;
    border-bottom: 1px solid black;
}
#header .container-header{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .container-header h1 a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: .3s;
}
#header .container-header h1 a:hover{
    transition: .3s;
    color: rgb(255, 0, 0);
}
/* Menu Desktop */
#menu{
    display: flex;
    list-style: none;
    gap: 1rem;
}
#menu li a{
    padding: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    transition: .3s;
}
#menu li a:hover{
    color: rgb(255, 0, 0);
}
/* Menu mobile*/
#btn-mobile{
    display: none;
}
/* section texts */
#o-que-imc{
    padding: 130px 0;
}
#o-que-imc .container-oqueimc{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
#o-que-imc .container-oqueimc .container-conteudo{
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 2px black;
    padding: 30px;
    border-radius: 5px;
}
#o-que-imc .container-oqueimc .container-conteudo h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#o-que-imc .container-oqueimc .container-conteudo p{
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 20px;
}
/* Rodapé */
#rodape{
    padding: 20px;
    background-color: white;
    border-top: 1px solid black;
}
#rodape .container-rodape{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#rodape .container-rodape a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
#rodape .container-rodape p{
    font-size: 1.1rem;
}

/* Responsivivade - 1000px*/
@media screen and (max-width: 1000px){
    /* header */
    #header .container-header h1 a{
        font-size: 1.4rem;
    }
    /* section texts */
    #o-que-imc .container-oqueimc{
        width: 95%;
    }
    /* Rodapé */
    #rodape .container-rodape a{
        font-size: 1.1rem;
    }
    #rodape .container-rodape p{
        font-size: 1rem;
    }
}

/* Responsivivade - 900px*/
@media screen and (max-width: 900px){
    /* header */
    #header .container-header h1 a{
        font-size: 1.3rem;
    }
    /* Menu Mobile */
    #menu{
        width: 50%;
        position: absolute;
        top: 73px;
        left: -490px;
        height: 95vh;
        flex-direction: column;
        justify-content: center;
        background: #fff;
        transition: .6s;
        visibility: hidden;
        text-align: center;
        z-index: 10000;
    }
    #nav.active #menu{
        left: 0;
        visibility: visible;
    }
    #menu li a{
        display: inline-block;
        width: 50%;
        margin-bottom: 30px;
        font-size: 1.4rem;
        border-radius: 0px;
        padding: 10px;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: #000;
    }
    #hamburger{
        display: block;
        width: 20px;
        border-top: 2px solid;
        color: #000;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    /* section texts */
    #o-que-imc .container-oqueimc .container-conteudo h2{
        font-size: 1.4rem;
    }
    #o-que-imc .container-oqueimc .container-conteudo p{
        font-size: 1.1rem;
    }
}

/* Responsivivade - 770px*/
@media screen and (max-width: 770px){
    #menu li a{
        width: 100%;
        font-size: 1.3rem;
    }
}

/* Responsivivade - 700px*/
@media screen and (max-width: 700px){
    /* section texts */
    #o-que-imc .container-oqueimc .container-conteudo h2{
        font-size: 1.3rem;
    }
    #o-que-imc .container-oqueimc .container-conteudo p{
        font-size: 1rem;
    }
    /* Rodapé */
    #rodape .container-rodape a{
        font-size: 1rem;
    }
    #rodape .container-rodape p{
        font-size: 0.9rem;
    }
}

/* Responsivivade - 550px*/
@media screen and (max-width: 550px){
    /* header */
    #header .container-header h1 a{
        font-size: 1.3rem;
    }
    #menu li a{
        font-size: 1.2rem;
    }
    /* section texts */
    #o-que-imc{
        padding: 120px 0;
    }
    #o-que-imc .container-oqueimc .container-conteudo h2{
        font-size: 1.2rem;
    }
}

/* Responsivivade - 525px*/
@media screen and (max-width: 525px){
    /* Rodapé */
    #rodape .container-rodape a{
        font-size: 0.9rem;
    }
    #rodape .container-rodape p{
        font-size: 0.8rem;
        text-align: center;
    }
}

/* Responsivivade - 500px*/
@media screen and (max-width: 500px){
    #menu li a{
        font-size: 1.1rem;
    }
}

/* Responsivivade - 400px*/
@media screen and (max-width: 400px){
    /* header */
    #header .container-header h1 a{
        font-size: 1.2rem;
    }
    #menu li a{
        font-size: 1rem;
    }
}

/* Responsivivade - 375px*/
@media screen and (max-width: 375px){
    /* header */
    #header .container-header h1 a{
        font-size: 1.1rem;
    }
    #o-que-imc .container-oqueimc .container-conteudo h2{
        font-size: 1.1rem;
    }
    #o-que-imc .container-oqueimc .container-conteudo p{
        font-size: 0.9rem;
    }
}

/* Responsivivade - 320px*/
@media screen and (max-width: 320px){
    /* header */
    #header .container-header h1 a{
        font-size: 1rem;
    }
    #menu li a{
        font-size: 0.9rem;
    }
    #o-que-imc .container-oqueimc .container-conteudo h2{
        font-size: 1rem;
    }
    #o-que-imc .container-oqueimc .container-conteudo p{
        font-size: 0.8rem;
    }
  
}