/* Reset geral da página */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #F5F6F8;
}
html{
    -webkit-tap-highlight-color: transparent;
}
/* header */
#header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 20px;
    z-index: 10000;
    border-bottom: 1px solid black;
}
#header .container-header{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .container-header h1 a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: .3s;
}
#header .container-header h1 a:hover{
    transition: .3s;
    color: rgb(255, 0, 0);
}
/* Menu Desktop */
#menu{
    display: flex;
    list-style: none;
    gap: 1rem;
}
#menu li a{
    padding: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    transition: .3s;
}
#menu li a:hover{
    color: rgb(255, 0, 0);
}
/* Menu mobile*/
#btn-mobile{
    display: none;
}
/* Section sobre */
#sobre{
    padding: 130px 0;
}
#sobre .container-sobre{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
#sobre .container-sobre .container-conteudo{
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 2px black;
    padding: 30px;
    border-radius: 5px;
}
#sobre .container-sobre .container-conteudo h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#sobre .container-sobre .container-conteudo img{
    border-radius: 50%;
    width: 15%;
    margin-bottom: 20px;
}
#sobre .container-sobre .container-conteudo p{
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 20px;
}
/* Rodapé */
#rodape{
    padding: 20px;
    background-color: white;
    border-top: 1px solid black;
}
#rodape .container-rodape{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#rodape .container-rodape a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
#rodape .container-rodape p{
    font-size: 1.1rem;
}

/* Responsividade - Tablet */
@media(max-width:780px){
    /* Cabeçalho */
    #cabecalho{
        padding: 10px;
    }
    #cabecalho .container-header h1{
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    #cabecalho .container-header .subtitulo{
        width: 90%;
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    /* Menu Mobile */
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 155px;
        right: 0px;
        background: white;
        height: 0;
        transition: .6s;
        z-index: 1000;
        text-align: center;
        visibility: hidden;
        overflow-y: hidden;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #nav.active #menu{
        height: calc(100vh - 155px);
        visibility: visible;
        /*overflow-y: auto;*/
    }
    #menu li{
        margin-bottom: 30px;
        padding: 10px;
    }
    #menu li a{
        font-size: 1.3rem;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        display: block;
        width: 20px;
        border-top: 2px solid;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    /* Linha horizontal */
    hr{
        margin-bottom: 0px;
    }
    #sobre{
        padding-bottom: 50px;
    }
    #sobre .container-sobre{
        width: 95%;
    }
    #sobre .container-sobre .container-conteudo{
        padding: 20px 30px;
    }
    #sobre .container-sobre .container-conteudo h1{
        font-size: 1.8rem;
    }
    #sobre .container-sobre .container-conteudo img{
        width: 20%;
    }
    #sobre .container-sobre .container-conteudo p{
        font-size: 1.2rem;
    }
    #sobre .container-sobre .container-conteudo h2{
        font-size: 1.8rem;
    }
    /* Rodapé */
    #rodape .container-rodape{
        width: 95%;
    }
    #rodape .container-rodape p{
        font-size: 1.1rem;
    }
    #rodape .container-rodape span a{
        font-size: 1.1rem;
    }
    #rodape .container-rodape .instagram a i{
        font-size: 1.1rem;
    }
    
    /* Responsividade - 450px */
    @media(max-width:450px){ 
        #cabecalho .container-header h1{
            margin-bottom: 5px;
        }
        #cabecalho .container-header h1 a{
            font-size: 1.8rem;
        }
        #cabecalho .container-header .subtitulo{
            font-size: 1.2rem;
        }
        /* Menu Mobile */
        #menu{
            top: 143px;
        }
        #nav.active #menu{
            height: calc(100vh - 143px);
        }
        #menu li{
            margin-bottom: 20px;
        }
        #sobre .container-sobre .container-conteudo h1{
            font-size: 1.6rem;
        }
        #sobre .container-sobre .container-conteudo img{
            width: 30%;
        }
        #sobre .container-sobre .container-conteudo p{
            font-size: 1.1rem;
        }
        #sobre .container-sobre .container-conteudo h2{
            font-size: 1.6rem;
        }
        /* Rodape */
        #rodape{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #rodape .container-rodape p{
            font-size: 1rem;
        }
        #rodape .container-rodape span a{
            font-size: 1rem;
        }
        #rodape .container-rodape .instagram a i{
            font-size: 1rem;
        }

        /* Responsividade - 375px */
        @media(max-width:375px){
            #cabecalho .container-header h1 a{
                font-size: 1.7rem;
            }
            #cabecalho .container-header .subtitulo{
                font-size: 1rem;
            }
            /* Menu Mobile */
            #menu{
                top: 135px;
            }
            #nav.active #menu{
                height: calc(100vh - 135px);
            }
            #menu li a{
                font-size: 1.2rem;
            }
            #sobre .container-sobre .container-conteudo h1{
                font-size: 1.5rem;
            }
            #sobre .container-sobre .container-conteudo img{
                width: 30%;
            }
            #sobre .container-sobre .container-conteudo p{
                font-size: 1rem;
            }
            #sobre .container-sobre .container-conteudo h2{
                font-size: 1.5rem;
            }
            /* Rodape */
            #rodape .container-rodape p{
                font-size: 0.9rem;
            }
            #rodape .container-rodape span a{
                font-size: 0.9rem;
            }
            #rodape .container-rodape .instagram a i{
                font-size: 0.9rem;
            }

            /* Responsividade - 320px */
            @media(max-width:320px){
                #cabecalho .container-header h1 a{
                    font-size: 1.5rem;
                }
                #cabecalho .container-header .subtitulo{
                    font-size: 0.9rem;
                }
                /* Menu Mobile */
                #menu{
                    top: 131px;
                }
                #nav.active #menu{
                    height: calc(100vh - 131px);
                }
                #menu li a{
                    font-size: 1.1rem;
                }
                #sobre .container-sobre .container-conteudo h1{
                    font-size: 1.2rem;
                }
                #sobre .container-sobre .container-conteudo img{
                    width: 40%;
                }
                #sobre .container-sobre .container-conteudo p{
                    font-size: 0.9rem;
                }
                #sobre .container-sobre .container-conteudo h2{
                    font-size: 1.2rem;
                }
                /* Rodape */
                #rodape .container-rodape p{
                    font-size: 0.8rem;
                }
                #rodape .container-rodape span a{
                    font-size: 0.8rem;
                }
                #rodape .container-rodape .instagram a i{
                    font-size: 0.8rem;
                }
            }
        }
    }
}









